<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos cliente</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actudts.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
</head>

<body>
    <div class="container-fluid" action="/mostrar" method="POST">
        <div class="row">
            <div class="col">
                <table id="tableArticulos" class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>DOCUMENTO</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>CORREO</th>
                            <th>CELULAR</th>
                            <th>SEXO</th>
                            <th>FECHA DE NACIMIENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datos.forEach(function (datos) { %>
                            <tr>
                                <td><input type="text" value="<%= datos.doccli%>" name="doccli" id="doc" class="doc">
                                </td>
                                <td><input type="text" value="<%= datos.nomcli %>" name="nomcli" id="nom" class="usu">
                                </td>
                                <td><input type="text" value="<%= datos.apecli %>" name="apecli" id="ape" class="cla">
                                </td>
                                <td><input type="text" value="<%= datos.correocli %>" name="correocli" id="corr"
                                        class="rol"></td>
                                <td><input type="text" value="<%= datos.celular %>" name="celular" id="cel" class="est">
                                </td>
                                <td><input type="text" value="<%= datos.sexo %>" name="sexo" id="sex" class="sex"></td>
                                <td><input type="text" value="<%= datos.fechanaccli %>" name="fechanaccli" id="fec"
                                        class="fec"></td>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</body>

</html>